# **Question 1:**
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only

In [ ]:
str = "geeta@avartantech.co.in"
print("Input is: ", str)
spl = (str.rsplit("."))
spl2 = spl[0]
fstr = (spl2.split("@"))
name1 = fstr[0]
comp = fstr[1]
if (name1.isalpha()== True and comp.isalpha() == True):
    print("Company name is: ",comp)
else:
    print("Name or company name not alphabeic")

Input is:  geeta@avartantech.co.in
Company name is:  avartantech

# **Question 2:**
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [ ]:
def listToString(s):
    str1 = ""
    for ele in s:
        str1 +=ele+","
    return str1

in_list = input("Enter words separated by comma: ")
list_name = in_list.split(",")
(list_name.sort())
print(listToString(list_name))

Enter words separated by comma: Geeta,Rohit,Abhay,Neha,Ruhi
Abhay,Geeta,Neha,Rohit,Ruhi,

# **Question 3:**
Create your own Jupyter Notebook for Sets

In [4]:
# A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

set_ex ={"Cake","biscuits","Pastries"}  #Create Set

for  x in set_ex:
  print(x)        #Accessing set items.

#Add new item to set
set_ex.add("Wafers")
print("Add new item: ",set_ex)

set_ex.update(["Fruits","Vegetables","desserts"]) #Add multiple items
print(set_ex)

print("Length of the set:",len(set_ex))    #Get length of set

set_ex.remove("Cake")   #Remove method
print("Remove methood: ",set_ex)

set_ex.discard("Fruits")    #discard method
print("Discard method: ",set_ex)

#pop method
x = set_ex.pop()
print(x)
print("Pop method: ",set_ex)

#clear method
set_ex ={"Cake","biscuits","Pastries"}
set_ex.clear()
print("Clear method: ",set_ex)

#delete method
set_ex ={"Cake","biscuits","Pastries"}
del set_ex


#Join two sets
set_a = {"Apple","Banana", "Cherry"}
set_b = {1,2,3}
set_c = set_a.union(set_b)
print("Join two sets:",set_c)

#Update method to update the set
set_a = {"Apple","Banana", "Cherry"}
set_b = {1,2,3}
set_a.update(set_b)
print("Update set:",set_a)

#set()constructor is used to make a set
set_a = set(("Apple","Banana", "Cherry"))
print("set constructor: ",set_a)

biscuits
Cake
Pastries
Add new item:  {'biscuits', 'Cake', 'Pastries', 'Wafers'}
{'Wafers', 'Pastries', 'Cake', 'Vegetables', 'desserts', 'biscuits', 'Fruits'}
Length of the set: 7
Remove methood:  {'Wafers', 'Pastries', 'Vegetables', 'desserts', 'biscuits', 'Fruits'}
Discard method:  {'Wafers', 'Pastries', 'Vegetables', 'desserts', 'biscuits'}
Wafers
Pop method:  {'Pastries', 'Vegetables', 'desserts', 'biscuits'}
Clear method:  set()
Join two sets: {'Banana', 1, 2, 3, 'Apple', 'Cherry'}
Update set: {'Banana', 1, 2, 3, 'Apple', 'Cherry'}
set constructor:  {'Banana', 'Apple', 'Cherry'}

# **Question 4:**
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [ ]:
def missing_value(A):
    n = len(A)
    total = (n +1)*(n+2)/2
    sum_of_A = sum(A)
    return total- sum_of_A

list_num =[1,7,8,6,5,2,3]
miss = missing_value(list_num)
print(miss)

4.0

# **Question 5:**
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [ ]:
list_num = [12,24,35,24,44,54,12,12,66]
res = []
for i in list_num:
    if i not in res:
        res.append(i)

print("result:",res)

result: [12, 24, 35, 44, 54, 66]